body {
    background-color: rgb(38, 38, 38);
    color: rgb(155, 199, 255);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#active {
    background-color: aliceblue;
}

a {
    text-decoration: none;
    color: rgb(155, 199, 255);
    margin: 0 15px;
}

.pitCrew {
	
}

.sponsors {
	
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;  
}

header, footer {
    width: 100%;
    background-color: rgb(28, 28, 28);
    padding: 10px 0;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    background-color: #f39237;
}