body {
    background-color: rgb(38, 38, 38);
    color: rgb(155, 199, 255);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#active {
    background-color: aliceblue;
}

a {
    text-decoration: none;
}